<a href="https://colab.research.google.com/github/YuryChet/education/blob/main/lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2

В этом задании:

1. Сделаем регрессию над данными через scikit-learn: сначала через регресию, потом через бустинг.
2. Сравним результаты с константным предсказанием.
3. Сделаем нейронную сеть на полносвязных слоях, обучим над теми же данными - и сравним с лин. регрессией и бустингом.

In [ ]:
import pandas as pd
import numpy as np
import random

# Для воспроизводимости
seed = 0
np.random.seed(seed)
random.seed(seed)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/insurance.csv")

In [ ]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
df.shape

(1338, 7)

### Задание №1:
Cделайте train/test split на данных в пропорции 0.2/0.8, залейте в лмс код, который в `df_train`, `df_test`
сохранит датафрейм с тренировочными и тестовыми данными соответственно.

P.S Использовать train_test_split из scikit-learn запрещено - разбивайте вручную через индексы.

In [ ]:
# функцией randint берем рандомные числа от 0 до размера датафрейма, в количестве целог числа от 0.2*df.shape[0]
# короче тут получаются рандомные значения в количесте 20% от датафрейма
idx_test = np.random.randint(0, df.shape[0], int(0.2 * df.shape[0]))

#он берет индексы из списка idx_test
df_test = df.iloc[idx_test]

# сбрасывает индексы из списка у df и оставляет все остальное
df_train = df.drop(index=idx_test)

array([ 411, 1189,  419,  350,  972,  301, 1175,  766, 1266,  746,  968,
       1014,  464, 1269,  893,  970,  486,  856,  832,  916, 1007, 1199,
        446,  353, 1048,  722,  137, 1223,  297,  726, 1151,  235, 1048,
        544,  802,  860,   37,  228,  850, 1079,  547,  355, 1089,  349,
       1253,  355,  814,   91,   62,   62,  497,  251,  590,  874,  158,
         51,  516,  902, 1283,  679,  492, 1124,  411,  300,  256,  733,
        846, 1152, 1280,   96,   29,   69,  697, 1310,  786,  618,   16,
       1227,    9,  730, 1100, 1255,  845,  855,  954,  633,  153,  111,
       1058,   76, 1211,  975,  827, 1301,  510,  364,  880, 1122,  645,
        671,  279,  597,  815,   68, 1225,  943,  730,  475, 1296, 1174,
       1149, 1052,  284,  625,  869,  601, 1157,  715,  947,  589,  696,
       1285,   29,   91,  449,  488, 1178, 1308,  999,  423,  105,  687,
        109,  377,  260,  384,  267,  179,  611,  964,  497,  732,  874,
        912,  884, 1094,  760,   95, 1026,  508, 1297, 1266,  160,  225,
        580, 1284, 1019,  335, 1151,  277, 1126,  272,    2,  701,  174,
       1134,  288,  231,  385, 1316,  264,  859, 1024,  163, 1050, 1214,
        948,  671,  259,  259, 1140,  164,  426,  366, 1044, 1257,  133,
        728, 1023, 1107,  694,  741, 1283, 1175, 1072,  862,  670, 1241,
        652,  240,  923,  204,  714,  427,  238,  755,   43,  711,  512,
        563,  674,  864, 1047,  786,  800,    2, 1292,  894,  764, 1096,
        894,  131, 1254,  454,  404,  826,    2,  981,  175,  110,  254,
        313, 1313,   69, 1245, 1103, 1113,  493, 1013, 1304,  356,  700,
        889,  832, 1101,  710, 1137,  561,  131,  928, 1139,  397,   75,
       1041,   68,  303,  330,  422,  628, 1269,  870,  432,  793,  547,
        960, 1032,  963])

### Задание №2:
Сделайте `OHE` на колонки sex, region, smoker.

Нужно сделать как на train, так и на test датасете.
Считайте, что исходные датафреймы сохранены в `df_train` и `df_test`.
При этом в `df_train`, `df_test` должны остаться старые колонки - т.е. его нужно обогатить.

In [ ]:
df_train_ohe = pd.get_dummies(df_train, columns=['sex', 'region', 'smoker'])
df_train = pd.concat([df_train_ohe, df_train[['sex', 'region', 'smoker']]], axis=1)

df_test_ohe = pd.get_dummies(df_test, columns=['sex', 'region', 'smoker'])
df_test = pd.concat([df_test_ohe, df_test[['sex', 'region', 'smoker']]], axis=1)
print(df_train.columns)
print(df_train.columns)

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest', 'smoker_no', 'smoker_yes', 'sex_female', 'sex_male',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest', 'smoker_no', 'smoker_yes', 'sex', 'region',
       'smoker'],
      dtype='object')
Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest', 'smoker_no', 'smoker_yes', 'sex_female', 'sex_male',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest', 'smoker_no', 'smoker_yes', 'sex', 'region',
       'smoker'],
      dtype='object')

In [ ]:
df_test

,age,bmi,children,charges,sex_female,sex_male,region_northeast,region_northwest,region_southeast,region_southwest,...,sex_male,region_northeast,region_northwest,region_southeast,region_southwest,smoker_no,smoker_yes,sex,region,smoker
411,44,20.235,1,19594.80965,True,False,True,False,False,False,...,False,True,False,False,False,False,True,female,northeast,yes
1189,23,28.000,0,13126.67745,True,False,False,False,False,True,...,False,False,False,False,True,True,False,female,southwest,no
419,63,26.980,0,28950.46920,True,False,False,True,False,False,...,False,False,True,False,False,False,True,female,northwest,yes
350,57,23.180,0,11830.60720,True,False,False,True,False,False,...,False,False,True,False,False,True,False,female,northwest,no
972,22,20.235,0,2527.81865,True,False,False,True,False,False,...,False,False,True,False,False,True,False,female,northwest,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,53,20.900,0,21195.81800,False,True,False,False,True,False,...,True,False,False,True,False,False,True,male,southeast,yes
547,54,46.700,2,11538.42100,True,False,False,False,False,True,...,False,False,False,False,True,True,False,female,southwest,no
960,19,39.615,1,2730.10785,True,False,False,True,False,False,...,False,False,True,False,False,True,False,female,northwest,no
1032,30,27.930,0,4137.52270,True,False,True,False,False,False,...,False,True,False,False,False,True,False,female,northeast,no
963,46,24.795,3,9500.57305,False,True,True,False,False,False,...,True,True,False,False,False,True,False,male,northeast,no

In [ ]:

print(df_train.columns)
print(df_train.columns)

### Задание №4:
Нормализуйте колонки, которые вы отметили в квизе.
Считайте, что исходные датафреймы сохранены в `df_train` и `df_test`.

Сдайте код, который модифицирует `df_train` и `df_test` так, чтобы численные колонки из прошлого пункта стали нормированы.

In [ ]:
...

In [ ]:
y_train = df_train.pop("charges")
y_test = df_test.pop("charges")

### Задание №5
Реализуйте функцию, считающую `MSE` метрику.

Ваша функция должна уметь принимать torch.Tensor, numpy-массивы и pd.Series.

In [ ]:
def metric(preds, y): ...

### Задание №6
Реализуйте бейзлайн на `LinearRegression` и `GradientBoostingRegressor`, отправьте метрики в ЛМС.

Используйте гиперпараметры по-умолчанию в обоих моделях.

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression

...

### Задание №7
Вычислите среднее значение целевой переменной на тренировочной выборке (train).

Подсчитайте MSE при константном предсказании этим средним и отправьте его в ЛМС.

### Задание №8
Создайте сеть, состоящую из одного слоя Linear, залейте в лмс код, который в `model` запишет вашу модель

В качестве признаков используйте все колонки в текущем датасете, за исключением таргета

In [ ]:
import torch.nn as nn


def build_model(): ...


model = build_model()

In [ ]:
import torch

torch.random.manual_seed(seed)
t_x_train = torch.from_numpy(df_train.to_numpy().astype(float)).to(dtype=torch.float32)
t_y_train = torch.from_numpy(y_train.to_numpy()).to(dtype=torch.float32)

### Задание №9
Напишите функцию `train_loop`, которая будет учить модель по данным на 2к итераций.
Считайте, что данные уже хранятся в переменных `t_x_train`, `t_y_train`.
Ваша функция `train_loop` должна вернуть список из лоссов на каждой итерации (т.е. список длины 2000).

Используйте `learning_rate=1e-2` в оптимизаторе.

Для простоты за одну итерацию делайте проход вперед и проход назад на всех наших обучающих данных.
Это будет полный градиентный спуск (не по батчам) - можем себе позволить, данных немного.

_Подсказка 1_: Вам не обязательно учить модель на видеокарте, CPU будет достаточно.

_Подсказка 2_: `tqdm` - это библиотека, которая рисует прогресс итераций

In [ ]:
import tqdm
from torch.optim.sgd import SGD


def train_loop(model: nn.Module) -> list[float]:
    losses = []
    ...
    return losses

### Задание №10
Обучите модель, состоящую из одного слоя `Linear`.
Приложите в ЛМС метрику `MSE` на тестовых данных.
Используйте `learning_rate=1e-2` в оптимизаторе.

Когда будете тестировать, не забудьте перенести тестовые данные в `torch.Tensor`

### Задание №11
Вам необходимо усложнить существующую нейронную сеть, добавив один скрытый слой.

Используйте следующие параметры:

Размерность скрытого слоя: 6 нейронов, функция активации -  `ReLU`

Приложите в лмс код, который в переменную `model` запишет вашу модель

In [ ]:
def build_model(): ...


model = build_model()

### Задание №12
Приложите в ЛМС метрику качества этой сети после 2к итераций обучения.
Эту модель можно обучить на CPU, не обязательно на видеокарте.

Используйте для обучения ту же функцию `train_loop` с теми же параметрами (`learning rate`, число итераций и т.п.)

### Задание №13
Добавьте дополнительные слои в нейронную сеть

Вам необходимо усложнить нейронную сеть, добавив еще 2-3 скрытых слоя с такими же размерностями, как в предыдущем задании.

Приложите в лмс код, который в переменную `model` запишет вашу модель

In [ ]:
def build_model(): ...


model = build_model()

### Задание №14
Приложите в ЛМС метрику качества после 2к итераций обучения.

Используйте для обучения ту же функцию `train_loop` с теми же параметрами (`learning rate`, число итераций и т.п.)

Эту модель можно обучить на CPU, не обязательно на видеокарте.